body{
    background-color:#FF6363; 
}
hr{ 
    border-style: none;
    border-top-style: dotted;
    border-color: #FFAB76 ;
    border-width: 5px;
    width: 5%;
}
h1{ 
    color: #1572A1;
}
h3{ 
    color: #1572A1;
}